{
  "parser": "babel-eslint",
  // "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "class-property"],
  "rules": {
    // "no-unused-vars": "warn",
    "no-console": "off",
    // "prettier/prettier": "error",
    "react/prop-types": 0,
    "no-useless-escape": 0,
    "object-shorthand": ["error", "always"],
    "no-prototype-builtins": "error",
    "no-array-constructor": "error",
    "no-eval": "error",
    "wrap-iife": "error",
    "no-new-func": "error",
    "function-paren-newline": "error",
    "no-confusing-arrow": "error",
    "implicit-arrow-linebreak": "error",
    "no-useless-constructor": "error",
    "no-duplicate-imports": "error",
    "no-iterator": "error",
    "no-restricted-syntax": "error",
    "prefer-const": "error",
    "no-plusplus": "error",
    "operator-linebreak": "error",
    "eqeqeq": "error",
    "nonblock-statement-body-position": "error",
    "brace-style": "error",
    "no-else-return": "error",
    "space-before-blocks": "error",
    "newline-per-chained-call": "error",
    "no-whitespace-before-property": "error",
    "eol-last": "error",
    "block-spacing": "error",
    "id-length": "error",
    "camelcase": "error",
    "new-cap": "error",
    "no-underscore-dangle": "error",
    "semi": ["error", "never"],
    "no-extra-semi": "error"
  }
}
